<p id="notice"><%= notice %></p>

<i class="fa fa-bolt fa-3x">Listing Test Controllers</i>
<br/>
<br/>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
	<table class="table">  
    <% @test_controllers.each do |test_controller| %>
      <tr>
		<td><%= test_controller.name %></td>
        <td><%= link_to 'Show', test_controller %></td>
<% if can? :update, test_controller %>
        <td><%= link_to 'Edit', edit_test_controller_path(test_controller) %></td>
<% end %>
<% if can? :destroy, test_controller %>
        <td><%= link_to 'Destroy', test_controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>        

      </tr>
    <% end %>
	</table>
  </tbody>
  <%= link_to 'New Test controller', new_test_controller_path, class:"btn btn-success" %><br/>
  <hr/>

  <% if current_user %>
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
      <%= link_to('修改帳號', edit_registration_path(:user)) %>
  <% else %>
      <%= link_to('註冊', new_registration_path(:user)) %> |
      <%= link_to('登入', new_session_path(:user)) %>
  <% end %>
  
  <hr/>
  
  <tfoot>
	  <i class="fa fa-copyright"></i> Copyright by Bichon Inc.
  </tfoot>
</table>

<br>


